<div class="content">
  <h1>Events</h1>
  <h3>Total Events: <%= @events.length %></h3>

  <form action="/events" method="get">
    <input type="text" name="search">
    <button>Search</button>
  </form>


  <% @events.sort_by!{|event| event.name}.each do |event| %>

  <h2><%= event.name %></h2>

  <a href="/events/<%= event.id %>"><%= event.name %>: View Results</a>
  <hr>
  <% end %>
</div>