<div class="content">
  <h1>Events</h1>

  <% @events.each do |event| %>

  <h2><%= event.name %></h2>

  <a href="/events/<%= event.id %>"><%= event.name %>: View Results</a>
  <hr>
  <% end %>
</div>