<!DOCTYPE html>
  <html>
  <head>
    <title>Rio Olympic Games 2016</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <body>
  <nav>
    <img id= 'logo' src="http://media.creativebloq.futurecdn.net/sites/creativebloq.com/files/images/2016/02/19/Rio2016-Logo-2.jpg">
    <ul>
      <li><a href="/olympics">Nation Medal Table</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/nations">Nations</a></li>
      <li><a href="/athletes">Athletes</a></li>
    </ul>
  </nav><br> 

  <%= yield %>

  </body>
</html>