<!DOCTYPE html>
  <html>
  <head>
    <title>Rio Olympic Games 2016</title>
  </head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <body>
  <nav>
    <img src="http://www.rio2016.com/sites/all/themes/rio2016_agosto_14/img/logo-rio2016-en.png">
    <ul>
      <li><a href="/olympics">Nation Medal Table</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/nations">Nations</a></li>
      <li><a href="/athletes">Athletes</a></li>
    </ul>
  </nav><br> 

  <%= yield %>

  </body>
</html>