<div class="content">
  <h1>Athletes of <%=@nation.name%>  <img class="nation" src="<%= @nation.flag %>"></h1>

  <% @nation.athletes.each do |athlete| %>

  <h4><a href="/athletes/<%= athlete.id %> "><%= athlete.name %></a></h4>

  <% end %>
</div>