<div class="content">
  <h1>Athletes</h1>

  <% @athletes.each do |athlete| %>

  <h3><img class="nation" src="<%= athlete.nation.flag %>"> <%= athlete.name %></h3>

  <a href="/athletes/<%= athlete.id %>">View <%= athlete.name %>'s Profile</a>
  <hr>
  <% end %>
</div>